* {
  transition: 0.5s;
  scroll-behavior: smooth;
}

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
  background-image: url('img/13386127\ \(2\).jpg');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  background-position: cover;
  font-family: "Poppins", sans-serif;
}

.bg-dark {
  background-attachment: red !important;
}

.disable-selection {
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* Internet Explorer */
  -khtml-user-select: none; /* KHTML browsers (e.g. Konqueror) */
  -webkit-user-select: none; /* Chrome, Safari, and Opera */
  -webkit-touch-callout: none; /* Disable Android and iOS callouts*/
}

a,
a:hover,
a:focus {
  color: black;
  text-decoration: none;
  transition: all 0.3s;
}

.navbar-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
}

.line {
  width: 100%;
  height: 1px;
  border-bottom: 1px dashed #ddd;
  margin: 40px 0;
}

.b {
  position: absolute;
  transform: rotate(30deg);
  top: 0%;
  left: 0%;
}

.navbar {
  background-color: rgba(255, 255, 255, 0);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
#sidebar .icon-color {
  color: #5c2a9d;
}

#sidebar {
  background-image: url("img/13386127\ \(1\).jpg");
  background-repeat: no-repeat;
  background-position: top;
  background-attachment: fixed;
  position: relative;
  width: 325px;
  position: fixed;
  top: 0;
  left: -325px;
  height: 100vh;
  z-index: 9999;
  color: #fff;
  transition: all 0.3s;
  overflow-y: scroll;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}

#sidebar.active {
  left: 0;
}

#bottom-btn {
  display: block;
  font-size: 12px;
  bottom: 0px;
  left: 0%;
}

#dismiss {
  font-size: 34px;
  width: 30px;
  height: 30px;
  text-align: center;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  -webkit-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.overlay {
  display: none;
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: #ff4d4d;
  z-index: 998;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.overlay.active {
  display: block;
  opacity: 1;
}

#sidebar ul li a {
  padding: 10px;
  font-size: 0.9em;
  display: block;
}

#sidebar ul li a:hover {
  background-color: rgba(128, 128, 128, 0.192);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #6d7fcc;
}

ul.CTAs {
  padding: 20px;
}

ul.CTAs a {
  text-align: center;
  font-size: 1em !important;
  display: block;
  border-radius: 45px;
  margin-bottom: 5px;
}

a.article,
a.article:hover {
  background: rgba(128, 128, 128, 0.568) !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#content {
  width: 100%;
  min-height: 100vh;
  transition: all 0.3s;
  top: 0;
  right: 0;
}

.scrolling-wrapper {
  overflow: hidden;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.scrolling-wrapper .card {
  display: inline-block;
  border-radius: 15px;
  height: 150px;
  padding: 20px;
  margin: 10px 5px;
  width: 225px;
}

html {
  overflow: scroll;
  overflow-x: hidden;
}
::-webkit-scrollbar {
  width: 0px; /* Remove scrollbar space */
  background: transparent; /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
  background: #6a197d;
}

.card1 {
  height: 120px;
  transition: 0.4s;
}

.card1:hover {
  transform: scale(1.5);
}

.bg-1 {
  background-color: #6a197d;
}

.text-1 {
  color: #6a197d;
}

.bg-2 {
  background-color: #ffa5b0;
}

.bg-3 {
  background-color: #5c2a9d;
}

.bg-4 {
  background-color: #f5f5f5;
}

.components > li > a > span {
  vertical-align: middle;
}

.title {
  font-size: 1rem;
}

.position-absolute {
  bottom: 0%;
}

.position-fixed button {
  padding: 0px 0px;
}

.course .material-icons {
  font-size: 60px;
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 5px 10px rgba(112, 110, 110, 0.637);
}

.topMenu {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1019;
  height: 60px;
  border-top: 1px solid #000;
  background: rgba(255, 255, 255, 0.788);

  transition: all 0.6s;
}
.hide {
  opacity: 0;
  top: -100%;
}
.show {
  opacity: 1;
  top: 0;
}

.navbar-togglern {
  background-color: white;
  border: none;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.462);
}

.navbar-togglers {
  background-color: transparent;
  border: none;
  box-shadow: none;
}
